
@import url("https://fonts.googleapis.com/css2?family=Radio+Canada:wght@400;500;600;700&display=swap");

body {
    background-image: url("https://cdn.pixabay.com/photo/2018/03/17/19/36/connection-3234929_1280.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: "Radio Canada", sans-serif;
  }
 
.header{
  text-align: center;
  color:white;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  font-size: 50px;
}
h1{
  color:#fff;
  text-align: center;
}
.box{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 35px;
}
.row{
  display: flex;
  justify-content: center;
}
.btn{
  width:75px;
  height:75px;
  border:2px solid #fff;
  border-radius: 10px;
  margin: 5px;
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  color: #fff;
  background-color: rgba(255,255,255,0.8);
  cursor:pointer;
  user-select: none;
}
.btn:hover{
  background-color: rgba(255,255,255,0.6);
}
.btn:disabled{
  color:#000;
  cursor:not-allowed;
}
.result-container{
  background-color:rgba(255,255,255,0.8);
  border:2px solid #fff;
  text-align: center;
  max-width: 200px;
  margin: auto;
  padding: 10px;
}
.result{
  text-align: center;
  margin: 10px;
}
#reset{
  
  color: #000;
  cursor:pointer;
  margin-left:720px;
  margin-top: 20px;
  font-size: 20px;
  padding: 5px 15px;
  transition: background-color 0.2s,color 0.2s;
}
#reset:hover{
  background-color: #000;
  color:#fff;
}